html,body {
  height:100%;
}

.signin {
  margin-left:16px;
  margin-top:10px;
}

#login-dropdown-list {
  left: -90px;
}

.login-close-text {
  color: black;
}

h1 {
  font-family:Pacifico;
  font-size:44pt;
  color:#CCCCFF;
}

.lead {
  color:#DDCCEE;
  margin-bottom: 7px;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

li {
   list-style-type: none;
}



.delete {
  text-align: right;
}

.vices {
  text-align: left;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

a#login-name-link {
  text-decoration: none;
  font-size: 20px;
  margin-top: -20px;
}

.login-link-and-dropdown-list {
  margin-top: 0px;
  margin-bottom: 10px;
}

form {
  color: black;
}
